*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.navber{
    margin-bottom: 20px;

}
.header{
    background-color: #6199af6c;
    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
}
.header-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 8px 0 8px;
    /* font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #26ADE3; */
}
.menuber{
    align-items: center;

}
.menuber ul{
    display: flex;
 
}
li{
    list-style-type: none;
}
.menuber ul li a{
    padding: 8px 16px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.781);
    transition: 0.2s ease-in-out color;
}


.menuber ul li a:hover{
    color: #e90b0b;
    /* text-decoration: underline; */
}
/* banner section strat heare */
.banner{
    margin-bottom: 20px;
}
.banner-container{
    margin: auto;
    width: 100%;
    height: 500px;
    background-image: url(../images/bannar/banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-container h1{
    font-size: 52px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.banner-container h1 span{
    color: white;
}
.faq-section{
    padding: 50px;
}
.faq-header{
    padding: 10px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: rgb(224, 129, 5);
}
hr{
    width: 20%;
    margin: 0 auto;
    border: 2px solid #d15116;
    border-radius: 5px;
}
/* -------frequently section setyle here----------- */

.asked-questions{
    margin: 50px auto 50px auto;
    width: 60%;
}
.asked-questions .questions h4{
    display: inline-block;

}
.asked-questions .question{
    display: flex;
    justify-content: space-between;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 18px
}
.question1{
    margin: 13px 0 27px 0;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 18px;
    background-color: #7E848C;
}
.first-question{
    display: flex;
    justify-content: space-between;
}
.first-question h4{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.question h4{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.question{
    background-color: #7E848C;
   
}

.question1 p{
    margin-top: 8px;
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}
.question2{
    margin: 13px 0 27px 0;
    background-color: #7E848C;
}.question2 h4{
    color: white;

}

.question3{
    margin-bottom: 13px;
    background-color: #7E848C;
}
.question3 h4{
    color: white;
}
/* footer section style here  */
.copyright{
    background-color: #011a24dc;
} 
.copyright p{
    text-align: center;
    padding: 40px;
    color: white;
}